{% extends 'base.html.twig' %}

{% block title %}{{ serie.title }}{% endblock %}

{% block body %}
    <h2>{{ serie.title }}</h2>

    <div class="mb-3">
        <a href="{{ path('serie_index') }}" class="btn btn-sm btn-outline-dark">Revenir à la liste</a>
    </div>

    {% if serie.poster %}
        <figure class="figure">
            <img src="{{ asset('poster/' ~ serie.poster) }}"
                 class="figure-img img-fluid rounded" alt="" />
        </figure>
    {% endif %}

    <dl class="row small">
        <dt class="col-2">Nombre de saison</dt>
        <dd class="col-10">{{ serie.season }}</dd>
        <dt class="col-2">1er Diffusion</dt>
        <dd class="col-10">{{ serie.airingDate | format_date('full') }}</dd>
    </dl>
{% endblock %}
