{% extends 'base.html.twig' %}

{% block title %}Liste des séries{% endblock %}

{% block body %}
    <h2>Liste des séries</h2>

    <div class="mb-3">
        <a href="{{ path('serie_add') }}" class="btn btn-sm btn-outline-primary">Ajouter une série</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Nombre de saison</th>
            <th>Date de diffusion</th>
            <th>Réalisateur</th>
            <th>Notes</th>
            <th>Moyenne</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>
                <td>{{ serie.id }}</td>
                <td>{{ serie.title }}</td>
                <td>{{ serie.season }}</td>
                <td>{{ serie.airingDate | format_date }}</td>
                <td>{{ not serie.director ? '-' : serie.director.fullname | capitalize }}</td>
                <td>
                    <ul class="list-unstyled">
                    {% for note in serie.notes %}
                        <li>{{ note.value }} / 10</li>
                    {% else %}
                        <li> - </li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    {{ not serie.average ? "-" : serie.average | format_number ~ " / 10" }}

                    {# {% if serie.average is not null %}
                        {{ serie.average | format_number }} / 10
                    {% else %}
                        -
                    {% endif %} #}
                </td>
                <td>
                    <a href="{{ path('serie_detail', {'id': serie.id}) }}">
                        Détail Série</a> -
                    <a href="{{ path('serie_detail_notes', {'id': serie.id}) }}">
                        Détail Série + Notes</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="text-center text-black-50">Aucune série enregistré actuellement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
