{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h2>Liste des utilisateurs</h2>

    <div class="mb-3">
        <a href="{{ path('user_add') }}" class="btn btn-sm btn-outline-primary">Ajouter un utilisateur</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles | join }}</td>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
